<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" Cache-Control:public;>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Haruno">
	<meta name="author" content="github.com/sswellington" />
	<meta name="robots" content="Haruno - Desenvolvimento Web">
	<meta name="keywords" content=" Haruno - Desenvolvimento Web" />
	<meta name="description" content=" Haruno - Desenvolvimento Web">
    
    <title> Haruno  </title>

	<link rel="shortcut icon" href="static/ico/favicon/Haruno Sakura.png" />
    <link rel="stylesheet" href="static/css/new.css" />
    <link rel="stylesheet" href="static/css/sarada.css" />
</head>
<body>
    <header>
        <nav>
            <a href="#"> Home &nbsp; </a>
            <a href="#biografia"> Biografia &nbsp; </a>
            <a href="#plano_governo"> Plano de governo &nbsp; </a>
            <a href="#"> Contato &nbsp; </a>
            <a href="#"> Sobre &nbsp; </a>
        </nav>
        <a href="#">  
            <div id="base">
                <h1> {{ title }} {{ subtitle }} </h1>
            </div>
        </a>
    </header>

    <main>
        <div id="biografia">
            <h1> Biografia </h1>
            <p> {{ p1 }}</p>
            <p> {{ p2 }}</p>
            <p> {{ p3 }}</p>
            <p> {{ p4 }}</p>
            <p> {{ p5 }}</p>

        </div>
        
        <div id="plano_governo">
            <h1> Plano de governo </h1>
            <h3> Meio Ambiente </h3>
            <ul>
                <li v-for="l in meio_ambiente">
                    {{ l.item }}
                </li>
            </ul>
            
            <h3> Turismo </h3>
            <ul>
                <li v-for="l in turismo">
                    {{ l.item }}
                </li>
            </ul>

            <h3> Cultura </h3>
            <ul>
                <li v-for="l in cultura">
                    {{ l.item }}
                </li>
            </ul>

            <h3> Com você na Boa/Nova Política </h3>
            <ul>
                <li v-for="l in comvc">
                    {{ l.item }}
                </li>
            </ul>

        </div>
    </main>
    <footer>
        <div id="socialmedia">

            <h6> Redes Sociais </h6>

            <!-- [Doc: rel="noreferrer"](https://html.spec.whatwg.org/multipage/links.html#link-type-noreferrer) -->
           
            <a href="https://www.twitter.com" rel="noreferrer" target="_blank">
                <img alt="Twitter"
                    src="static/ico/socialmedia/colored-circle/icon_twitter-32.png">
            </a>

            <a href="https://www.linkedin.com" rel="noreferrer" target="_blank">
                <img alt="linkedin"
                    src="static/ico/socialmedia/colored-circle/icon_linkedin-32.png">
            </a>

            <a href="https://www.facebook.com" rel="noreferrer" target="_blank">
                <img alt="facebook"
                    src="static/ico/socialmedia/colored-circle/icon_facebook-32.png">
            </a>

            <a href="https://www.youtube.com" rel="noreferrer" target="_blank">
                <img alt="youtube"
                    src="static/ico/socialmedia/colored-circle/icon_youtube-32.png">
            </a>

            <a href="#" rel="noreferrer" target="_blank">
                <img alt="email"
                    src="static/ico/socialmedia/colored-circle/icon_email-32.png">
            </a>

            <a href="https://www.instagram.com" rel="noreferrer" target="_blank">
                <img alt="instagram"
                    src="static/ico/socialmedia/colored-circle/instagram-47-32.png">
            </a>
        </div>

        <div id="copyright" style="text-align: center;">
            <span> 
                <a href="https://github.com/sswellington/haruno/blob/main/LICENSE" 
                rel="noreferrer" target="_blank"> Template {{ name }} 
                </a> | 

                <a href="https://github.com/sswellington/haruno/blob/main/CHANGELOG" 
                rel="noreferrer" target="_blank"> {{ version }} 
                </a>

                <br> <a href="https://github.com/jiongu" 
                rel="noreferrer" target="_blank"> 
                    Design e desenvolvimento por {{ by }} </a>
            </span>
        </div>
    </footer>
</body>

<script src="static/js/vue.js"></script>

<script src="static/js/index.js"></script>

</html>
